h1{
    color: rgba(233, 174, 72, 0.45); text-shadow: rgb(73, 73, 73) 0.1em 0.1em 0.2em
}

img{
    width: 185px;
    height: 278px;
}

.card{
    background-color: rgba(233, 174, 72, 0.45);
}

main{
    margin-bottom: 30px;
}

h2{
    color: rgba(144, 143, 141, 0.45); text-shadow: rgb(60, 59, 59) 0.1em 0.0em 0.0em
}

body{
    background: radial-gradient(#1f1f1e, #2d2924);;
}

.bg-novedades{
    background:linear-gradient(#2d2924, transparent, #2d2924), url(novedades.jpg);
    background-size: cover;
}

.bg-terror{
    background:linear-gradient(#2d2924, transparent, #2d2924), url(sangre.jpg);
    background-size: cover;
}

.bg-comedia{
    background:linear-gradient(#2d2924, transparent, #2d2924), url(palomitas.avif);
    background-size: cover;
}

.bg-ficcion{
    background:linear-gradient(#2d2924, transparent, #2d2924), url(ficcion.avif);
    background-size: cover;
}

.bg-animacion{
    background:linear-gradient(#2d2924, transparent, #2d2924), url(animacion.avif);
    background-size: cover;
}

footer{
    opacity: 0.3;
}